PORT=3000

# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finance_db
DB_USER=postgres
DB_PASS=suasenha

# Conexão SSL (true para ambientes em nuvem, false para ambiente local)
DB_SSL=false